
<suite name="EMI Calculator Suite">

    <test name="Car Loan Test">
        <classes>
            <class name="tests.CarLoanTest"/>
        </classes>
    </test>

    <test name="Home Loan Test">
        <classes>
            <class name="tests.HomeLoanTest"/>
        </classes>
    </test>

    <test name="Loan Calculator UI Test">
        <classes>
            <class name="tests.LoanCalculatorTest"/>
        </classes>
    </test>

</suite>
